@import "variables";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.main-content {
  width: 100%;
  padding: 30px;
}
.text-centered {
  text-align: center;
}
.news-container {
  margin: 50px 0px;
}

.weather-container {
  display: flex;
  width: fit-content;
  align-self: flex-end;
  a {
    text-decoration: none;
    width: 200px;
  }
}
.weather-wrapper {
  box-shadow: 10px 10px 21px -2px $dark-gray;
  margin-right: 5px;
  margin-top: 5px;
  background-color: $white;
  padding: 10px;
  border-radius: 6px;
  .weather-desc {
    text-align: center;
    margin-bottom: 0;
    color: $black;
  }
  .weather-bg {
    display: flex;
    flex-direction: column;
    background-color: $blue;
    padding: 0 10px;
  }
  a {
    text-decoration: none;
  }
  img {
    margin: 0px;
    align-self: center;
  }
  p {
    width: auto;
    justify-content: center;
  }
  strong {
    margin: 5px 0px 0px 0px;
    font-size: 1rem;
    color: $black;
  }
}
.temp-wrapper {
  display: flex;
  justify-content: space-between;
}
.temp-wrapper p {
  margin: 0px 5px 5px 5px;
  color: $black;
}
.detailed-weather-main {
  .weather-header {
    background-color: $blue;
    padding: 20px;
    a {
      text-decoration: none;
      color: $black;
      font-size: 1.2rem;
    }
  }
}
.detailed-weather {
  text-align: center;
  padding: 35px;
  .detailed-weather-container {
    margin-top: 20px;
    .detailed-weather-wrapper {
      margin-top: 10px;

      .weather-card {
        margin-bottom: 15px;
        .detailed-weather-title {
          font-weight: 500;
          text-align: center;
          .weather-description {
            margin-top: 10px;
            text-transform: capitalize;
          }
        }
        img {
          margin: 0 auto;
        }
        .temp-group {
          display: flex;
          justify-content: space-evenly;
          p {
            margin-bottom: 0.5rem;
          }
        }

        .temp-details {
          p {
            margin-bottom: 0.5rem;
          }
        }
        span {
          font-weight: bold;
        }
      }
    }
  }
}

#detailed-weather-current-day {
  width: 100%;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  .weather-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    img {
      width: 200px;
      margin: 0 30px;
    }
    .detailed-weather-title {
      align-self: center;
    }
    .weather-description {
      margin-top: 10px;
      text-transform: capitalize;
      font-size: 1.2rem;
    }

    .weather-deatils {
      text-align: left;
      width: 200px;
      padding: 0 5px;
      .temp-group {
        display: flex;
        justify-content: flex-start;
        p:first-of-type {
          margin-right: 5px;
        }
      }

      p {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }
      span {
        font-weight: bold;
      }
    }
  }
}

.banner {
  width: 100%;
}
.hero-container {
  background-image: url("https://www.developmentguild.com/assets/nyc-banner-night.jpg");
  display: flex;
  flex-direction: column;
  height: 120%;
  min-height: 400px;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.search-input {
  width: 80%;
  min-width: 300px;
  height: 30px;
  margin-bottom: 10px;
}
.search-btn {
  width: 50px;
  height: 30px;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: bold;
}
.search-wrapper h1 {
  font-size: 27px;
  margin-bottom: 10px;
}
.search-wrapper {
  background: $tranparent-white;
  padding-top: 15px;
  border-radius: 3px;
  width: 24%;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-login-container {
  width: 600px;
}
.signup-login-form {
  padding: 20px 0px;
}
.card-img-container {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: $light-gray;
}
.card-img {
  height: 100%;
}
#title {
  font-size: 27px;
}
.loginButton {
  align-self: flex-start;
}
#loginButton {
  margin: 5px;
  width: 60px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: bold;
  background-color: $white;
  border-radius: 5px;
  border: 1px solid $black;
}
#loginButton:hover {
  color: $white;
  background-color: $dark-gray;
}
.top-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (min-width: 500px) {
  .activities-container {
    .card-deck {
      display: grid;
      grid-template: auto/repeat(1, minmax(250px, 1fr));
      .card {
        margin-bottom: 15px;
      }
    }
  }
  .news-container {
    .card-deck {
      display: grid;
      grid-template: auto/repeat(1, minmax(250px, 1fr));
      .card {
        margin-bottom: 15px;
      }
    }
  }

  .detailed-weather-wrapper {
    display: grid;
    grid-template: auto/repeat(1, minmax(250px, 1fr));
    padding: 0 15px;
    justify-items: center;
    align-items: center;
  }

  #detailed-weather-current-day {
    padding: 0 15px;
    .weather-card {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .weather-deatils {
        text-align: center;
        .temp-group {
          justify-content: center;
        }
      }
    }

    img,
    .weather-deatils {
      align-self: center;
    }
  }
}

@media screen and (min-width: 700px) {
  .detailed-weather-wrapper {
    display: grid;
    grid-template: auto/repeat(2, 250px);
    padding: 0 15px;
  }
}

@media screen and (min-width: 750px) {
  .activities-container {
    .card-deck {
      display: grid;
      grid-template: auto/repeat(2, minmax(250px, 1fr));
      .card {
        margin-bottom: 15px;
      }
    }
  }
  .news-container {
    .card-deck {
      display: grid;
      grid-template: auto/repeat(2, minmax(250px, 1fr));
      .card {
        margin-bottom: 15px;
      }
    }
  }

  .detailed-weather-wrapper {
    display: grid;
    grid-template: auto/repeat(3, 250px);
    padding: 0 15px;
  }

  #detailed-weather-current-day {
    .weather-card {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}
@media screen and (min-width: 1000px) {
  .activities-container {
    .card-deck {
      display: grid;
      grid-template: auto/repeat(4, minmax(250px, 1fr));
      .card {
        margin-bottom: 15px;
      }
    }
  }
  .news-container {
    .card-deck {
      display: grid;
      grid-template: auto/repeat(4, minmax(250px, 1fr));
      .card {
        margin-bottom: 15px;
      }
    }
  }

  .detailed-weather-wrapper {
    display: grid;
    grid-template: auto/repeat(4, minmax(200px, 1fr));
    padding: 0 15px;
  }
  #detailed-weather-current-day {
    .weather-card {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}
@media screen and (min-width: 1300px) {
  .activities-container {
    .card-deck {
      display: grid;
      grid-template: auto/repeat(5, minmax(250px, 1fr));
      .card {
        margin-bottom: 15px;
      }
    }
  }
  .news-container {
    .card-deck {
      display: grid;
      grid-template: auto/repeat(5, minmax(250px, 1fr));
      .card {
        margin-bottom: 15px;
      }
    }
  }

  .detailed-weather-wrapper {
    display: grid;
    grid-template: auto/repeat(6, minmax(200px, 1fr));
    padding: 0 15px;
  }

  #detailed-weather-current-day {
    .weather-card {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}
